//전체 배경
.sign-in {
    background: url(../assets/images/sign-in-page-photo/background.jpg);
    background-size: cover;
    color: #7D6F5D;
    display: flex;
    justify-content: center;
    align-items: center;
}

//흰색 컨테이너
.sign-in__container {
    width: 742px;
    background-color: #FFFCF9;
    background-image: url(../assets/images/sign-in-page-photo/barista/Barista.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: 0px 15px 14px rgba(70, 55, 17, 0.4);
    border-radius: 6px;
    text-align: center;
    margin: 100px 140px;
}

//헤더
.sign-in__header {
    width: 660px;
    text-transform: uppercase;
    margin: 25px auto;
}

.sign-in__heading {
    width: 660px;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.4;
    letter-spacing: 0.1em;
}

.sign-in__intro {
    font-size: 1.6rem;
    line-height: 1.6;
}

//로그인 폼
.sign-in__form {
    border-top: 1px solid #7D6F5D;
    border-bottom: 1px solid #7D6F5D;
    padding: 32px 152px;
    text-align: left;
}

//아이디 비밀번호
.sign-in__user-id {
    margin-bottom: 20px;
}

.sign-in__user-id label,
.sign-in__user-pw label {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.2;
}

.sign-in__user-id input,
.sign-in__user-pw input {
    width: 438px;
    margin-top: 10px;
    padding: 9px;
    font-size: 1.3rem;
    line-height: 1.2;
    border: 1px solid rgba(125, 111, 93, 0.5);
    border-radius: 3px;
}

.sign-in__user-id input::placeholder,
.sign-in__user-pw input::placeholder {
    color: rgba(125, 111, 93, 0.7);
}

//로그인 버튼
.sign-in__button {
    color: #FFFCF9;
    width: 100%;
    text-align: center;
    padding: 15px 8px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    margin: 30px 0;
    background: #7D6F5D;
    border-radius: 3px;
}

//아이디 저장 토글
.sign-in__toggle-container {
    display: flex;
    margin-bottom: 24px;
}

.sign-in__toggle {
    display: flex;
    width: 50%;
}

.sign-in__toggle label {
    font-size: 1.4rem;
    line-height: 1;
}

//두줄짜리
.sign-in__info-list li {
    display: flex;
}

.sign-in__info-list li::before {
    content: '★';
    display: block;
    font-size: 1rem;
    padding-top: 2px;
    margin-right: 5px;
}

.sign-in__security,
.sign-in__browser {
    font-size: 1.2rem;
    line-height: 1.4;
}

.sign-in__security {
    margin-bottom: 6px;
}

//바리스타 이미지
.man-barista {
    position: absolute;
    bottom: 0;
}

//멤버 메뉴
.sign-in__member {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1;
    color: #7D6F5D07;
    margin: 0 auto;
}

.sign-in__member li {
    display: flex;
    align-content: center;
    justify-content: center;
}

.sign-in__member li::after {
    content: '|';
    color: #7D6F5D;
    margin: auto 0;
}

.sign-in__member li:last-child::after {
    content: '';
}

.sign-in__member a {
    display: block;
    padding: 15px 0px;
    color: #7D6F5D;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 16px;
    width: 93px;
    text-align: center;
}

//배경 별 로고
.sign-in__left-star {
    order: -1;
}