<section class="class-rec">
  <h2 class="class-rec__heading a11y-hidden">class recommendation</h2>
  <div class="class-rec__button">
    <a href="#" role="button"><strong>멀티캠퍼스</strong>추천 강좌</a>
    <a href="#" role="button"><strong>이듬 블렌디드 러닝</strong>추천 강좌</a>
  </div>
  <div class="class-rec__white-background">
    <div class="class-rec__background">
      <div class="class-rec__text-box">
        <span class="class-rec__text-box-en">Git & HTML & CSS</span>
        <span class="class-rec__text-box-kr">입문자를 위한 GIT과 HTML & CSS</span>
        <button class="class-rec__button-details"><span>강의정보</span></button>
      </div>
    </div>
    <div class="class-rec__html-detail">
      <h3 class="class-rec__html-name">GIT & HTML/CSS</h3>
      <p class="class-rec__html-name-sub">입문자를 위한 Gitrhk HTML & CSS</p>
      <div class="class-rec__rating">
        <span class="class-rec__star-icon">★★★★☆</span>
        <span>4점</span>
      </div>
      <dl class="class-rec__table">
        <!-- table도 가능할 듯 -->
        <dt>학습시간</dt>
        <dd>09:00~17:00 (28시간)</dd>
        <dt>난이도</dt>
        <dd>초급</dd>
        <dt>교육비 지원</dt>
        <dd>고용보험 비환급</dd>
        <dt>평가항목</dt>
        <dd>출석률 100%</dd>
        <dt>수료기준</dt>
        <dd>총점 80점 이상시 수료</dd>
        <dt>정원</dt>
        <dd>24명</dd>
        <dt>교재정보</dt>
        <dd>입문자를 위한 GIT과 HTML&CSS</dd>
        <dd>HTML&CSS 웹사이트 개발과 디자인 기초 (35,000원)</dd>
      </dl>
      <button class="class-rec__btn-close">x</button>
    </div>
    <div class="class-rec__background">
      <div class="class-rec__text-box">
        <span class="class-rec__text-box-en">Git & HTML & CSS</span>
        <span class="class-rec__text-box-kr">입문자를 위한 GIT과 HTML & CSS</span>
        <button class="class-rec__button-details"><span>강의정보</span></button>
      </div>
    </div>
  </div>
  <svg class="class-rec__left-arrow"></svg>
  <svg class="class-rec__right-arrow"></svg>
</section>