<section class="class-intro">
  <div class="class-intro__wrapper">
    <div class="class-intro__comment-container">
      <article class="class-intro__comment">
        <div aria-label="bar" class="class-intro__comment-bar"></div>
        <h3 class="class-intro__comment-heading">무엇이 중요한지 알게된 시간!</h3>
        <p>제가 들었던 해외 튜토리얼에 비해 시맨틱한 마크업과 접근성 비중이 크게 다뤄져 좋았습니다. 많은 튜토리얼들이 디자인을 어떻게 구현하는지에만 초점이 맞춰져 있잖아요. 무엇이 중요한지 알게되어 많은
          도움이 되었습니다.</p>
        <div class="class-intro__star-rate">
          <span class="star-fill">★★★★★</span>
          <span class="class-intro__number-rate-number">5</span>
          <span class="class-intro__number-rate-text">점</span>
        </div>
        <span class="class-intro_name">우정민</span>
      </article>
      <button class="play-button">
        <svg class="play" xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="assets/svg/main-page-sprite-sheet.svg#play" />
        </svg>
      </button>
    </div>

    <div class="favorite-brochure-flex">
      <div class="class-intro__favorite">
        <h3>
          카페<span>W</span>인기강좌
        </h3>
        <ol class="class-intro__favorite-list">
          <li>
            <a href="#">1. UI구조 & 디자인</a>
            <em class="up" aria-label="상승"><svg xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="assets/svg/main-page-sprite-sheet.svg#increase" /></svg>
            </em>
          </li>
          <li>
            <a href="#">2. 모바일 웹 UI 제작 실습</a>
            <em class="new" aria-label="새롭게 등장"><svg xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="assets/svg/main-page-sprite-sheet.svg#new" /></svg>
            </em>
          </li>
          <li>
            <a href="#">3. UI 인터렉션 주니어</a>
            <em class="down" aria-label="하강"><svg xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="assets/svg/main-page-sprite-sheet.svg#decrease" /></svg>
            </em>
          </li>
          <li>
            <a href="#">4. React 프로그래밍</a>
            <em class="stop" aria-label="멈춤"><svg xmlns:xlink="http://www.w3.org/1999/xlink">
                <use xlink:href="assets/svg/main-page-sprite-sheet.svg#same" /></svg>
            </em>
          </li>
          <svg class="more" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="assets/svg/main-page-sprite-sheet.svg#plus-button" />
          </svg>
        </ol>
      </div>
      <div class="class-intro__brochure">
        <a href="#" download="brochure">
          <img src="assets/images/main-page-photo/2-row/cafe brochure.png" alt="브로슈어">
          <span>브로슈어 다운받기</span>
          <svg class="class-intro__brochure-arrow" xmlns:xlink="http://www.w3.org/1999/xlink">
            <use xlink:href="assets/svg/main-page-sprite-sheet.svg#brochure-arrow" /></svg>
        </a>
      </div>
    </div>
  </div>
</section>