<section class="class-intro">
  <div class="class-intro__background">
    <h3>
      카페<span>W</span>인기강좌
    </h3>
    <article class="class-intro__comment">
      <div aria-label="bar"></div>
      <h3 class="postscript-head"></h3>
      <p>제가 들었던 해외 튜토리얼에 비해 시맨틱한 마크업과 ~</p>
      <div class="star-rate">
        <!-- <svg><use xlink:href="./이미지-폴더/first-page-sprite-sheet#아이콘-id명"/>star</svg>
        <svg><use xlink:href="./이미지-폴더/first-page-sprite-sheet#아이콘-id명"/>star</svg>
        <svg><use xlink:href="./이미지-폴더/first-page-sprite-sheet#아이콘-id명"/>star</svg>
        <svg><use xlink:href="./이미지-폴더/first-page-sprite-sheet#아이콘-id명"/>star</svg>
        <svg><use xlink:href="./이미지-폴더/first-page-sprite-sheet#아이콘-id명"/>star</svg> -->
        <span>5점</span>
      </div>
      <span>우정민</span>
      <button class="play-button"></button>
    </article>
  
    <ol>
      <li class="no.1">
        <a href="">1. UI구조 & 디자인</a><em class="up" aria-label="상승"></em>
      </li>
      <li class="no.2">
        <a href="">2. 모바일 웹UI 제작 실습</a><em class="new" aria-label="상승"></em>
      </li>
      <li class="no.3">
        <a href="">3. UI 인터렉션 주니어</a><em class="down" aria-label="상승"></em>
      </li>
      <li class="no.4">
        <a href="">4. React 프로그래밍</a><em class="stop" aria-label="상승"></em>
      </li>
      <a href="#" class="favorite-class-list-more icon-plus">
        <img src="" alt="">
      </a>
    </ol>
  
  <div>
    <a href="" download="brochure">
      <img src="" alt="">
      <span>브라우저 다운로드</span>
      <svg></svg>
    </a>
  </div>
</div>
</section>