<section class="youtube">
  <h2 class="a11y-hidden">비디오</h2>
    <iframe class="youtube__iframe" width="960" height="540" title="youtube video named 'Good markup for screen reader users'" src="https://www.youtube.com/embed/hS5CfP8n_js"></iframe>
  <svg class="youtube__left-logo" width="75px" height="95px" xmlns:xlink="http://www.w3.org/1999/xlink">
    <use xlink:href="assets/svg/main-page-sprite-sheet.svg#star-symbol-black" />
  </svg>
  <svg class="youtube__right-logo" width="75px" height="95px" xmlns:xlink="http://www.w3.org/1999/xlink">
    <use xlink:href="assets/svg/main-page-sprite-sheet.svg#star-symbol-black" />
  </svg>
</section>