<section>
  <h2>class recommendation</h2>
  <ul>
    <li>
      <span><em>멀티캠퍼스</em>추천강좌</span>
      <ul>
        <li>
          <div class="img">
          <span>Git & HTML & CSS</span>
          <span>입문자를 위한 GIT과 HTML & CSS</span>
          <button><span>강의정보</span></button>
        </div>
        <div class="class-multi-HTML-detail">
          <h3 class="class-multi-HTML-name">GIT & HTML/CSS</h3>
          <p>입문자를 위한 Gitrhk HTML & CSS</p>
          <div class="star-icon">
            <svg>star1</svg>
            <svg>star2</svg>
            <svg>star3</svg>
            <svg>star4</svg>
            <svg>star5</svg>
          </div>
          <dl>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt></dt>
            <dd></dd>
            <dt>
              <div>
                <dd></dd>
                <dd></dd>
              </div>
            </dt>
          </dl>
          <button>x</button>
        </div>
          <svg></svg>
          <svg></svg>
        </li>
        <div>
          <svg></svg> 
          <svg></svg> 
          <svg></svg> 
          <svg></svg> 
        </div>
      </ul>
    </li>
  </ul>
</section>