<section class="find-nearby">
  <h2 class="a11y-hidden">근처 매장 찾기</h2>
  <div class="find-nearby__bottom">
    <div class="find-nearby__text">
      <h3>카페에서 경험해보세요</h3>
      <p>고객님과 가장 가까이 있는 매장을 찾아보세요!</p>
      <ul>
        <li>차별화된 커피 경험을 누릴 수 있는 <strong>리저브 매장</strong></li>
        <li>다양한 방법으로 편리하게 즐길 수 있는 드라이브 <strong>스루 매장</strong></li>
        <li>함께해서 더 따뜻할수 있는 지역사회 소통 공간 <strong>커뮤니티 매장</strong></li>
      </ul>
      <a>매장 찾기</a>
    </div>
  </div>
  <svg class="find-nearby__medal" width="180px" height="180px" xmlns:xlink="http://www.w3.org/1999/xlink">
    <use xlink:href="assets/svg/main-page-sprite-sheet.svg#star-medal" />
  </svg>
  <div class="find-nearby__cafe-and-visual">
    <svg class="find-nearby__cafe" width="152px" height="127px" xmlns:xlink="http://www.w3.org/1999/xlink">
      <use xlink:href="assets/svg/main-page-sprite-sheet.svg#coffee-store" />
    </svg>
    <img class="find-nearby__visual" src="assets/images/main-page-photo/8-row/circle-coffee-woman.png" alt="">
  </div>
</section>