<section class="pick-favorite">
  <div class="pick-favorite__wrapper">
    <div class="pick-favorite__text">
      <h2><strong>Pick </strong><strong>your </strong><span>favorite</span></h2>
      <h3>다양한 메뉴를 카페&nbsp;W에서&nbsp;즐겨보세요</h3>
      <ul class="pick-favorite__menu-list">
        <li>카페 W만의 특별한 경험할 수 있는 최상의 선택 음료 카페</li>
        <li>W 커피와 완벽한 어울림을 자랑하는 푸드</li>
        <li>사용한 시도와 디자인으로 가치를 더하는 상품</li>
        <li>소중한 사람에게 마음을 전하는 가장 좋은 방법. 카페 W 카드</li>
      </ul>
      <a href="#">자세히 보기</a>
    </div>
    <ul class="pick-favorite__visual">
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>