<section class="season-item">
  <h2 class="a11y-hidden">추천 시즌 음료</h2>
  <div class="catchphrase">
    <p class="season-item__phrase">SPRING IS A CUP of<strong>CHOUX CREAM</strong></p>
    <p class="season-item__phrase-ko">봄이 왔다 커피가 설렌다</p>
    <a href="#" class="season-item__details">자세히 보기</a>
  </div>
  <ul class="season-item__beverage">
    <li class="season-item__beverage-strawberry">
      <figure>
        <img src="" alt="음료 사진" class="season-item__beverage-strawberry-image"/>
        <figcaption>
          <span class="season-item__beverage-strawberry-bold">STRAWBERRY LAYER CHOUX CREAM FRAPPUCCINO</span>
          <span class="season-item__beverage-strawberry-normal">딸기 레이어 슈크림 프라푸치노</span>
        </figcaption>
      </figure>
    </li>
    <li class="season-item__beverage-choux">
      <figure>
        <img src="" alt="음료 사진" class="season-item__beverage-choux-image"/>
        <figcaption>
          <span class="season-item__beverage-choux-bold">CHOUX CREAM LATTE</span>
          <span class="season-item__beverage-choux-normal">슈크림 라떼</span>
        </figcaption>
      </figure>
    </li>
    <li class="season-item__beverage-spring">
      <figure>
        <img src="" alt="음료 사진" class="season-item__beverage-spring-image"/>
        <figcaption>
          <span class="season-item__beverage-spring-bold">SPRING PEACH GREEN TEA</span>
          <span class="season-item__beverage-spring-normal">스프링 피치 그린티</span>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
