<section class="season-item">
  <h2 class="a11y-hidden">추천 시즌 음료</h2>
  <div class="catchphrase">
    <p>SPRING IS A CUP of</p>
    <p><strong>CHOUX CREAM</strong></p>
    <p>봄이 왔다 커피가 설렌다</p>
    <a href="#">자세히 보기</a>
  </div>
  <ul>
    <li>
      <figure>
        <img src="" alt="음료 사진" />
        <figcaption>
          <span>STRAWBERRY LAYER CHOUX CREAM FRAPPUCCINO</span
          ><span>딸기 레이어 슈크림 프라푸치노</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="" alt="음료 사진" />
        <figcaption>
          <span>CHOUX CREAM LATTE</span><span>슈크림 라떼</span>
        </figcaption>
      </figure>
    </li>
    <li>
      <figure>
        <img src="" alt="음료 사진" />
        <figcaption>
          <span>SPRING PEACH GREEN TEA</span><span>스프링 피치 그린티</span>
        </figcaption>
      </figure>
    </li>
  </ul>
</section>
