//주변 매장 컨테이너
.find-nearby {
    height: 960px;
    background: url(../assets/images/main-page-photo/7-row/footer-upside.jpg);
    background-size: contain;
    padding-top: 540px;
    color: #FFFCF9;
    line-height: 1.1;
    position: relative;
}
//하단 컨테이너
.find-nearby__bottom {
    background: linear-gradient(108deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 31%, rgba(34,34,34,1) 70%, rgba(0,0,0,1) 100%);
}
//텍스트 영역
.find-nearby__text {
    margin: 0 auto;
    width: 1440px;
    height: 420px;
    padding: 80px 0 0 774px;
}
.find-nearby__text h3 {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
}
.find-nearby__text p {
    font-size: 1.8rem;
    margin: 10px 0 0 0;
}
.find-nearby__text ul {
    margin-top: 15px;
}
.find-nearby__text li {
    margin-bottom: 10px;
}
.find-nearby__text li:last-child {
    margin-bottom: 0;
}
.find-nearby__text strong{
    font-weight: 700;
}
.find-nearby__text a {
    display: inline-block;
    border: 2px solid #FFFCF9;
    border-radius: 3px;
    padding: 10px 25px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.2s;
}
//버튼 호버 애니메이션
.find-nearby__text a:hover {
    color:#ccc;
    border-color: #ccc;
}
//리저브 메달
.find-nearby__logo {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}
//카페 하단 부분 컨테이너
.find-nearby__cafe-and-visual {
    width: 1440px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
//카페 벡터이미지
.find-nearby__cafe {
    height: 127px;
    position: absolute;
    bottom: 0;
    right: 24.305555555%;
}
//카페 벡터이미지 흔들리는 애니메이션
.find-nearby__cafe:hover {
    animation: greeting 0.6s ease-in;
}
@keyframes greeting {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-5deg);
    }
    30% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
//좌측 하단 사진 영역
.find-nearby__visual {
    width: 486px;
    height: 410px;
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.6));
    position: absolute;
    bottom: 60px;
    left: 12.083333333%;
}