//기본 설정
.a11y-hidden {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    color: #FFFCF9;
}
a {
    color: #FFFCF9;
    text-decoration: none;
}
//헤더
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    background-color: #282725;
    color: #FFFCF9;
    line-height: 1;

}
//헤더 로고
.header__logo {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fffcf915;
    margin: 0;
    height: 82px;
    position: relative;
    padding: 0 120px;
}
.header__logo a {
    position: absolute;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
//헤더 상단 컨테이너
.header__member-and-search {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
}
//헤더 좌상단 회원 영역
.header__sign-group {
    display: flex;
    align-items: center;
    margin-left: -10px;
}
.header__sign-group a {
    padding: 10px;
    transition: all 0.2s;
}
.header__sign-group li:first-child {
    margin-right: 30px;
}
// 회원 링크 호버 애니메이션
.header__sign-group a:hover {
    color: #ccc;
}
//헤더 우상단 검색 영역
.header__search-form {
    margin-right: -8px;
}
.header__search-form fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    height: 82px;
    display: flex;
    align-items: center;
}
.header__search-form legend {
    display: none;
}
.header__search-form-container {
    display: flex;
    width: 242px;
}
.header__search-form-container input {
    border: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    flex-grow: 1;
    background: transparent;
    color: #FFFCF9;
    font-size: 1.6rem;
}
.header__btn-search {
    padding: 8px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s;
}
.header__btn-search:hover {
    transform: scale(1.3);
}
//헤더 네비게이션
.nav {
    width: 1200px;
    padding: 0;
    position: relative;
}
.nav__main-menu-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 195px;
}
.nav__main-menu-list > li {
    width: 180px;
    height: 101px;
}
.nav__main-menu-list .nav__btn-menu {
    font-weight: 700;
    font-size: 2rem;
    height: 20px;
    margin-bottom: 18px;
}
.nav__sub-menu-list {
    font-size: 1.5rem;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav__sub-menu-list a {
    transition: 0.2s;
}
// 서브메뉴 호버 애니메이션
.nav__sub-menu-list a:hover {
    font-weight: 700;
}