<div class="main-notice">
  <svg class="main-notice__speaker" width="26px" height="24px" xmlns:xlink="http://www.w3.org/1999/xlink">
    <use xlink:href="assets/svg/main-page-sprite-sheet.svg#speaker" />
  </svg>
  <a href="#">카페 W 영업시간 조정 안내</a>
  <time datetime="2020-05-15">2020.05.15</time>
  <button class="main-notice__btn-close" type="submit" aria-label="close notice">
    <svg width="21px" height="21px" xmlns:xlink="http://www.w3.org/1999/xlink">
      <use xlink:href="assets/svg/main-page-sprite-sheet.svg#close" />
    </svg>
</div>