<footer>
  <svg class="btn-go-up" width="60px" height="60px">
    <use xlink:href="assets/svg/main-page-sprite-sheet.svg#go-up" />
  </svg>
    
  <ul class="footer__menu-list">
    <li><a href="">개인정보 처리방침</a></li>
    <li><a href="">멤버스 이용약관</a></li>
    <li><a href="">가맹안내</a></li>
    <li><a href="">대량 쿠폰판매</a></li>
    <li><a href="">채용 안내</a></li>
    <li><a href="">고객의 소리</a></li>
    <li><a href="">사이트맵</a></li>
  </ul>
  <div class="footer__logo">
    <a href="index.html">
      <svg width="77px" height="90px">
        <use xlink:href="assets/svg/main-page-sprite-sheet.svg#vertical-logo" />
      </svg>
    </a>
  </div>
  <address class="footer__address">
    <span>서울시 강남구 테헤란로 10길 18 K&I 타워 카페 W (2F)</span>
    <span>연락처 : 02-6951-2121</span>
    <span>사업자 등록번호 : 107-86-16302 </span>
    <span>통신판매업 신고 : 강남 제 002519호</span>
    <span>대표이사 : 김데레사</span>
  </address>
  <small class="footer__copyright"> Copyright since &copy; © 2020 CAFE W COMPANY. ALL rights reserved. </small>
</footer>
