<footer>
  <div>
    <ul>
      <li><a href="">개인정보 처리방침</a></li>
      <li><a href="">멤버스 이용약관</a></li>
      <li><a href="">가맹안내</a></li>
      <li><a href="">대량 쿠폰판매</a></li>
      <li><a href="">채용 안내</a></li>
      <li><a href="">고객의 소리</a></li>
      <li><a href="">사이트</a></li>
    </ul>
    <div class="footer-brand">
      <img src="" alt="Cafe-W logo" />
    </div>
    <address>
      <span>서울시 강남구</span>
      <span>연락처</span>
      <span>사업자 등록번호</span>
      <span>통신 판매업 신고</span>
      <span>대표이사</span>
    </address>
    <small> Copyright </small>
  </div>
</footer>
