<header>
  <h1 class="header__logo">
    <a href="index.html">
      <svg width="100px" height="40px" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Cafe-W</title>
        <use xlink:href="assets/svg/main-page-sprite-sheet.svg#horizon-typo-light" />
      </svg>
    </a>
  </h1>
  <div class="header__member-and-search">
    <ul class="header__sign-group">
      <li>
        <a href="sign-in.html">Sign in</a>
      </li>
      <li>
        <a href="sign-up.html">Sign up</a>
      </li>
    </ul>
    <form method="POST" action="" class="header__search-form">
      <fieldset>
        <legend>검색 폼</legend>
        <div class="header__search-form-container">
          <label for="search"><span class="header__icon-search" aria-label="메뉴 검색"></span></label>
          <input type="search" id="search" name="search" required />
          <button class="header__btn-search" type="submit">
            <svg width="24px" height="24px" xmlns:xlink="http://www.w3.org/1999/xlink">
              <use xlink:href="assets/svg/main-page-sprite-sheet.svg#search-button-light" />
            </svg>
          </button>
        </div>
      </fieldset>
    </form>
  </div>
  <nav class="nav">
    <h2 class="a11y-hidden">메인메뉴</h2>
    <ul class="nav__main-menu-list">
      <li>
        <button class="nav__btn-menu">Drink</button>
        <ul class="nav__sub-menu-list">
          <li>
            <a href="#">콜드브루</a>
          </li>
          <li>
            <a href="#">에스프레소</a>
          </li>
          <li>
            <a href="#">기타 제조 음료</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="nav__btn-menu">Foods</button>
        <ul class="nav__sub-menu-list">
          <li>
            <a href="#">베이커리</a>
          </li>
          <li>
            <a href="#">케잌</a>
          </li>
          <li>
            <a href="#">샌드위치 & 샐러드</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="nav__btn-menu">Products</button>
        <ul class="nav__sub-menu-list">
          <li>
            <a href="#">머그</a>
          </li>
          <li>
            <a href="#">텀블러</a>
          </li>
          <li>
            <a href="#">커피용품</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="nav__btn-menu">Lectures</button>
        <ul class="nav__sub-menu-list">
          <li>
            <a href="#">UI 구조 & 디자인</a>
          </li>
          <li>
            <a href="#">UI 인터렉션 주니어</a>
          </li>
          <li>
            <a href="#">리액트 프로그래밍</a>
          </li>
        </ul>
      </li>
      <li>
        <button class="nav__btn-menu">Customer Service</button>
        <ul class="nav__sub-menu-list">
          <li>
            <a href="#">공지사항</a>
          </li>
          <li>
            <a href="#">추천 채널</a>
          </li>
          <li>
            <a href="#">체크 리스트</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>